*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ── CSS CUSTOM PROPERTIES (variables) ── */
:root {
  --header-height: clamp(380px, 55vw, 600px);
  --cx: 50%;
  --cy: 50%;
}

body {
  font-family: Roboto;
  /* background-color: #242742; */
}

header {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: var(--cy);
  left: var(--cx);
  transform: translate(-50%, -124px);
  z-index: 1;
  width: 375px;
  height: 284px;
  object-fit: cover;
  border-radius: 0 0 16px 16px;
}

.tablet {
  position: absolute;
  z-index: 2;
  top: var(--cy);
  left: var(--cx);
  transform: translate(-187px, -44px);
}

.computer-screen {
  position: absolute;
  z-index: 3;
  top: var(--cy);
  left: var(--cx);
  transform: translate(-63px, -94px);
}

.grafic {
  position: absolute;
  z-index: 4;
  top: var(--cy);
  left: var(--cx);
  transform: translate(44px, -100px);
}

.white-background {
  background-color: white;
  width: 70px;
  height: 70px;

  position: absolute;
  z-index: 4;
  top: var(--cy);
  left: var(--cx);
  transform: translate(72px, -7px);
}

.ellipse {
  position: absolute;
  z-index: 5;
  top: var(--cy);
  left: var(--cx);
  transform: translate(82px, 3px);
}

.number {
  position: absolute;
  z-index: 6;
  top: var(--cy);
  left: var(--cx);
  transform: translate(97px, -23px);
}

main {
  max-width: 375px;
  margin: 0 auto;
  background-color: white;
  border-radius: 0 0 16px 16px;
  padding-top: 24px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  padding-bottom: 40px;
  position: relative;
}

main h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 40px;
  margin-inline: 24px;
  margin-bottom: 24px;
}

main h4 {
  font-weight: 400;
  margin-inline: 24px;

}

.check-and-write {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-inline: 24px;
}

.check-and-write img {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
}

.check-and-write p {
  margin-left: 16px;
  flex: 1;
}

.check-and-write .oval {
  margin-top: 0px;
  margin-left: 0px;
}

/* .third {
  margin-right: 177px;
} */

.email {
  margin-top: 40px;
  margin-inline: 24px;
}

.email p {
  margin-bottom: 8px;
}

.email input {
  width: 312px;
  height: 56px;
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 8px;
  margin-bottom: 24px;
}

.email button {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #242742;
  padding: 14px 59px;
  margin-bottom: 40px;
}

.check-and-oval {
  position: relative;
  /* height: 200px; */
  margin-top: 149px;
  margin-bottom: 40px;
}

.check-and-oval .oval-big {
  position: absolute;
  top: 0;
  left: 24px;
}

.check-and-oval .check-big {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 42px;
}

.title-and-write {
  position: absolute;
  z-index: 1;
  margin-top: 100px;
  margin-inline: 24px;
}

.title-and-write h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}

.title-and-write h4 {
  font-weight: 400;
  margin-bottom: 263px;
}

.title-and-write button {
  font-size: 16px;
  font-weight: 700;
  padding: 18px 99px;
  background-color: #242742;
  color: white;
  border-radius: 8px;
  margin-bottom: 40px;
}

.background-big {
  display: none;
}

.tablet-big {
  display: none;
}

.computer-screen-big {
  display: none;
}

.grafic-big{
  display: none;
}

.ellipse-big {
  display: none;
}

.white-background-big {
  display: none;
}

.number-big {
  display: none;
}

@media(min-width:1109px) {

  .header-and-main {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    width: 928px;
    /* height: 100vh; */
    /* height: 641px; */
    border-radius: 36px;
    margin: 0 auto;
  }

  .background {
    display: none;
  }

  .background-big {
    display: block;
    position: absolute;
    top: var(--cy);
    left: var(--cx);
    transform: translate(-160px, -300px);
  }

  .tablet {
    display: none;
  }

  .tablet-big {
    display: block;
    position: absolute;
    z-index: 1;
    top: var(--cy);
    left: var(--cx);
    transform: translate(-160px, -97px);
  }

  .computer-screen {
    display: none;
  }

  .computer-screen-big {
    display: block;
    position: absolute;
    z-index: 2;
    top: var(--cy);
    left: var(--cx);
    transform: translate(-63px, -193px);
  }

  .grafic {
    display: none;
  }

  .grafic-big {
    display: block;
    position: absolute;
    z-index: 3;
    top: var(--cy);
    left: var(--cx);
    transform: translate(100px, -203px);
  }

  .white-background {
    display: none;
  }

  .white-background-big {
    display: block;
    z-index: 4;
    background-color: white;
    width: 128px;
    height: 152px;
    position: absolute;
    top: var(--cy);
    left: var(--cx);
    transform: translate(131px, -60px);
  }

  .ellipse {
    display: none;
  }

  .ellipse-big {
    display: block;
    position: absolute;
    z-index: 5;
    top: var(--cy);
    left: var(--cx);
    transform: translate(151px, -30px);
  }

  .number {
    display: none;
  }

  .number-big {
    display: block;
    position: absolute;
    z-index: 6;
    top: var(--cy);
    left: var(--cx);
    transform: translate(180px, 6px);
  }

  main {
    display: flex;
    height: 370px;
    margin-left: 17px;
    max-width: none;
    width: 50%;
    height: 100%;
  }

  header {
    width: 100%;
    height: 100%;
    position: relative;
  }
}